/* 容器 */

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* 背景图片容器 */

.background {
    width: 2245px;
    height: 1650px;
    overflow: hidden;
    position: absolute;
    left: 786px;
    top: 298px;
}

/* 背景图片 */

.background_image {
    width: 2245px;
    height: 1650px;
}

/* 电站运行信息 */

.running_information {
    overflow: hidden;
    position: absolute;
    left: 199px;
    top: 46px;
    width: 700px;
    height: 156px;
}

/* 电站运行状态 */

.running_state {
    overflow: hidden;
    position: absolute;
    left: 943px;
    top: 46px;
    width: 700px;
    height: 156px;
}

/* 无故障运行时间 */

.running_time {
    overflow: hidden;
    position: absolute;
    left: 2202px;
    top: 46px;
    width: 700px;
    height: 156px;
}

/* 安防系统状态 */

.security_system_state {
    overflow: hidden;
    position: absolute;
    left: 2914px;
    top: 46px;
    width: 700px;
    height: 156px;
}

/* 系统介绍 */

.introduction {
    overflow: hidden;
    position: absolute;
    left: 200px;
    top: 262px;
    width: 438px;
    height: 1239px;
}

/* 总充电电量 */

.chargingPower {
    overflow: hidden;
    position: absolute;
    left: 700px;
    top: 262px;
    width: 550px;
    height: 260px;
}

/* 总放电电量 */

.dischargingPower {
    overflow: hidden;
    position: absolute;
    left: 700px;
    top: 588px;
    width: 550px;
    height: 260px;
}

/* 总放电电量 */

.usingPower {
    overflow: hidden;
    position: absolute;
    left: 700px;
    top: 915px;
    width: 550px;
    height: 260px;
}

/* 总放电电量 */

.electricityBills {
    overflow: hidden;
    position: absolute;
    left: 700px;
    top: 1241px;
    width: 550px;
    height: 260px;
}

/* 充放电曲线 */

.chargingDischargingData {
    overflow: hidden;
    position: absolute;
    left: 2600px;
    top: 262px;
    width: 1040px;
    height: 370px;
}

/* I段实时功率组件 */

.firstStagePower {
    overflow: hidden;
    position: absolute;
    left: 2600px;
    top: 696px;
    width: 1040px;
    height: 370px;
}

/* II段实时功率组件 */

.secondStagePower {
    overflow: hidden;
    position: absolute;
    left: 2600px;
    top: 1131px;
    width: 1040px;
    height: 370px;
}

/* 登录按钮容器 */

.login_button {
    width: 900px;
    height: 160px;
    overflow: hidden;
    position: absolute;
    left: 1470px;
    top: 1542px;
}

/* 登录按钮图片 */

.login_button_image {
    width: 900px;
    height: 160px;
    border: 0;
    background-color: transparent;
    background-image: url('./images/login_button_normal.png');
}

/* 登录窗口容器 */

.login_form {
    width: 1496px;
    height: 1736px;
    overflow: hidden;
    position: absolute;
    left: 1185px;
    top: 106px;
}