/* 容器 */

.container {
    position: relative;
    width: 438px;
    height: 1239px;
}

/* 背景图片 */

.background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

/* 文本内容 */

.content_text1 {
    position: absolute;
    left: 50px;
    top: 137px;
    font-size: 42px;
    color: #ffffff;
}

/* 文本内容 */

.content_text2 {
    position: absolute;
    left: 50px;
    top: 187px;
    font-size: 42px;
    color: #ffffff;
}

/* 文本内容 */

.content_text3 {
    position: absolute;
    left: 50px;
    top: 318px;
    font-size: 24px;
    color: #ffffff;
    font-family: "SourceHanSansSC-Regular"
}