/* 容器 */

.container {
    position: relative;
    width: 700px;
    height: 156px;
}

/* 背景图片 */

.background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

/* 文本内容 */

.content_text {
    position: absolute;
    left: 71px;
    top: 56px;
    font-size: 36px;
    color: rgb(137, 149, 165);
}

/* 数据内容 */

.content_time {
    position: absolute;
    left: 345px;
    top: 26px;
    font-size: 75px;
    font-family: 'Microsoft Yahei';
    font-weight: bold;
    color: rgb(231, 134, 0);
}

/* 数据单位 */

.content_unit {
    position: absolute;
    left: 545px;
    top: 54px;
    font-size: 36px;
    font-family: 'Microsoft Yahei';
    font-weight: bold;
    color: rgb(231, 134, 0);
}