/* 容器 */

.container {
    position: relative;
    width: 550px;
    height: 260px;
}

/* 背景图片 */

.background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

/* 背景图片 */

.background_image {
    width: 100%;
    height: 100%;
}

/* 文本内容 */

.content_text {
    position: absolute;
    left: 55px;
    top: 46px;
    font-size: 36px;
    color: rgb(137, 149, 165);
}

/* 数据内容 */

.content_value {
    position: absolute;
    left: 55px;
    top: 118px;
    font-size: 16.8px;
    color: rgb(68, 175, 224);
    font-family: 'Microsoft Yahei';
}

/* 数据单位 */

.content_unit {
    position: absolute;
    left: 418px;
    top: 49px;
    font-size: 15.98px;
    color: rgb(68, 175, 224);
    font-family: 'Microsoft Yahei';
}