/* 容器 */

.container {
    position: relative;
    width: 1040px;
    height: 370px;
}

/* 背景图片 */

.background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

/* 背景图片 */

.background_image {
    width: 100%;
    height: 100%;
}

/* 文本内容 */

.content_text {
    position: absolute;
    left: 57px;
    top: 40px;
    font-size: 36px;
    color: rgb(137, 149, 165);
}

/* 数据内容 */

.content_value {
    position: absolute;
    left: 57px;
    top: 160px;
    font-size: 100px;
    color: rgb(68, 175, 244);
    font-family: 'Microsoft Yahei';
    font-weight: bold;
}

/* 图表 */

.content_chart {
    overflow: hidden;
    position: absolute;
    left: 320px;
    top: 90px;
    width: 660px;
    height: 230px;
}