/* 容器 */

.container {
    position: relative;
    width: 690px;
    height: 1507px;
}

/* 按钮 */

.viewButton {
    position: absolute;
    left: 0;
    top: 0;
    width: 690px;
    height: 1507px;
    background-color: transparent;
    z-index: 999;
}

/* 背景图片 */

.background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

/* 背景图片 */

.background_image {
    width: 100%;
    height: 100%;
}

/* 标题1 */

.content_title1 {
    position: absolute;
    left: 120px;
    top: 19px;
    font-size: 48px;
    color: rgb(0, 160, 233);
}

.content_powerData {
    overflow: hidden;
    position: absolute;
    left: 50px;
    top: 259px;
    width: 600px;
    height: 300px;
}

/* 标志1 */

.content_flag1 {
    overflow: hidden;
    position: absolute;
    left: 70px;
    top: 39px;
    width: 37px;
    height: 39px;
}

/* 图标1 */

.content_logo1 {
    overflow: hidden;
    position: absolute;
    left: 377px;
    top: 36px;
    width: 297px;
    height: 189px;
}

/* 标题2 */

.content_title2 {
    position: absolute;
    left: 120px;
    top: 587px;
    font-size: 48px;
    color: rgb(0, 160, 233);
}

/* 标志2 */

.content_flag2 {
    overflow: hidden;
    position: absolute;
    left: 60px;
    top: 607px;
    width: 37px;
    height: 39px;
}

/* 图标2 */

.content_logo2 {
    overflow: hidden;
    position: absolute;
    left: 373px;
    top: 675px;
    width: 296px;
    height: 204px;
}

.content_data1_title {
    position: absolute;
    left: 180px;
    top: 759px;
    font-size: 36px;
    color: rgb(137, 149, 165);
}

.content_progress1 {
    position: absolute;
    left: 150px;
    top: 819px;
    width: 180px;
    height: 180px;
}

.content_progress1_icon {
    width: 63px;
    height: 103px;
}

.content_data2_title {
    position: absolute;
    left: 169px;
    top: 1067px;
    font-size: 36px;
    color: rgb(137, 149, 165);
}

.content_progress2 {
    position: absolute;
    left: 149px;
    top: 1137px;
    width: 180px;
    height: 180px;
}

.content_data3_title {
    position: absolute;
    left: 429px;
    top: 1067px;
    font-size: 36px;
    color: rgb(137, 149, 165);
}

.content_progress3 {
    position: absolute;
    left: 420px;
    top: 1137px;
    width: 180px;
    height: 180px;
}

.content_progress3_icon {
    margin-top: 20px;
    width: 68px;
    height: 76px;
}