/* 容器 */

.container {
    position: relative;
    width: 550px;
    height: 260px;
}

/* 背景图片 */

.background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

/* 文本内容 */

.content_text {
    position: absolute;
    left: 55px;
    top: 46px;
    font-size: 36px;
    color: rgb(137, 149, 165);
}

/* 数据内容 */

.content_value {
    position: absolute;
    left: 55px;
    top: 118px;
    font-size: 80px;
    color: rgb(231, 134, 0);
    font-family: 'Microsoft Yahei';
    font-weight: bold;
}

/* 数据单位 */

.content_unit {
    position: absolute;
    left: 418px;
    top: 49px;
    font-size: 50px;
    color: rgb(231, 134, 0);
    font-family: 'Microsoft Yahei';
}