/* 容器 */

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* 背景图片容器 */

.background {
    width: 2245px;
    height: 1650px;
    overflow: hidden;
    position: absolute;
    left: 587px;
    top: 229px;
}

/* 背景图片 */

.background_image {
    width: 2245px;
    height: 1650px;
}

/* 电网信息概览 */

.powerGridInformation {
    overflow: hidden;
    position: absolute;
    left: 200px;
    top: 51px;
    width: 1000px;
    height: 1551px;
}

/* 系统状态 */

.systemState {
    overflow: hidden;
    position: absolute;
    left: 1250px;
    top: 95px;
    width: 1652px;
    height: 306px;
}

/* 变压器信息概览 */

.transformatorOverview {
    overflow: hidden;
    position: absolute;
    left: 1251px;
    top: 441px;
    width: 1651px;
    height: 792px;
}

/* PCS信息概览 */

.pcsOverview {
    overflow: hidden;
    position: absolute;
    left: 1250px;
    top: 1252px;
    width: 1652px;
    height: 350px;
}

/* BMS信息概览 */

.bmsOverview {
    overflow: hidden;
    position: absolute;
    left: 2950px;
    top: 95px;
    width: 690px;
    height: 1507px;
}

.pcs_logo {
    overflow: hidden;
    position: absolute;
    left: 2363px;
    top: 1142px;
    width: 585px;
    height: 384px;
}