/* 容器 */

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* 背景图片 */

.background {
    width: 2245px;
    height: 1650px;
    overflow: hidden;
    position: absolute;
    left: 587px;
    top: 229px;
}

/* 背景图片 */

.background_image {
    width: 2245px;
    height: 1650px;
}

/* 电站运行信息 */

.running_information {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 700px;
    height: 156px;
}

/* 电站运行状态 */

.running_state {
    overflow: hidden;
    position: absolute;
    left: 744px;
    top: 0;
    width: 700px;
    height: 156px;
}

/* 无故障运行时间 */

.running_time {
    overflow: hidden;
    position: absolute;
    left: 2003px;
    top: 0;
    width: 700px;
    height: 156px;
}

/* 安防系统状态 */

.security_system_state {
    overflow: hidden;
    position: absolute;
    left: 2742px;
    top: 0;
    width: 700px;
    height: 156px;
}

/* 系统介绍 */

.introduction {
    overflow: hidden;
    position: absolute;
    left: 1px;
    top: 216px;
    width: 438px;
    height: 1239px;
}

/* 总充电电量 */

.chargingPower {
    overflow: hidden;
    position: absolute;
    left: 501px;
    top: 216px;
    width: 550px;
    height: 260px;
}

/* 总放电电量 */

.dischargingPower {
    overflow: hidden;
    position: absolute;
    left: 501px;
    top: 542px;
    width: 550px;
    height: 260px;
}

/* 总放电电量 */

.usingPower {
    overflow: hidden;
    position: absolute;
    left: 501px;
    top: 869px;
    width: 550px;
    height: 260px;
}

/* 总放电电量 */

.electricityBills {
    overflow: hidden;
    position: absolute;
    left: 501px;
    top: 1195px;
    width: 550px;
    height: 260px;
}