@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(animationMove) {
    0%   { 
        opacity: 1;
    }
    50% { 
        opacity: 0.4;
    }
    100% { 
        opacity: 1;
    }
}

.move {
    animation: animationMove 3s linear infinite;
}